<!-- wp:template-part {"slug":"header","tagName":"header","theme":"squirrels"} /-->

<!-- wp:group {"tagName":"main","className":"squirrels-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group squirrels-main">

	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">

		<!-- wp:woocommerce/store-notices /-->

		<!-- wp:woocommerce/customer-account /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"squirrels"} /-->
